acoustics==0.2.6
audiomentations==0.43.1
Cython==3.1.4
dp==1.00
deep-phonemizer
Flask==3.1.2
importlib_resources==6.5.2
librosa==0.11.0
matplotlib==3.10.6
mutagen==1.47.0
numpy==2.3.3
onnx==1.19.0
onnx_tf==1.10.0
onnxruntime==1.23.0
piper_phonemize==1.1.0
pronouncing==0.2.0
pyaudio==0.2.14
pydub==0.25.1
pytorch_lightning==2.5.5
PyYAML==6.0.3
Requests==2.32.5
rich
requests
scikit_learn==1.7.2
scipy==1.16.2
setuptools==65.5.0
sounddevice==0.5.2
soundfile==0.13.1
speechbrain==1.0.3
speexdsp_ns==0.1.2
tensorflow==2.20.0
tflite_runtime==2.14.0
torch==2.8.0
torch_audiomentations==0.12.0
torchaudio==2.8.0
torchinfo==1.8.0
torchmetrics==1.8.2
tqdm==4.67.1
