acoustics
audiomentations
Cython
dp
Flask
importlib_resources
librosa
matplotlib
mutagen
numpy
onnx
# onnx_tf
onnxruntime
# piper_phonemize
pronouncing
pyaudio
pydub
pytorch_lightning
PyYAML
Requests
rich
scikit_learn
scipy
setuptools
sounddevice
soundfile
speechbrain
# speexdsp_ns
tensorflow
# tflite_runtime
torch
torch_audiomentations
torchaudio
torchinfo
torchmetrics
tqdm
